<div class="content">
    <button ng-click="order = name">Order by Name</button>
    <button ng-click="order = belt">Order by Belt</button>
    <input type="text ng-model=" search" placeholder="Search Ninjas">
    <ul id="name-list">
        <li ng-repeat="name in names | filter:search | orderBy:order" ng-show="name.available">
            <img ng-src="{{name.thumbnail}}" alt="" style="margin: -12px 10px 0 0; float: left; width: 50px;"
                ng-show="name.thumbnail">
            <h3>{{name.name}} - {{name.rate | currency: 'USD $ '}}</h3>
            <div class="remove" ng-click="removeNinja(name)">X</div>
            <span class="belt" style="background: {{name.belt}}">{{name.belt}} belt</span>
        </li>
    </ul>

    <form action="" ng-submit="addName()">
        <h2>Add a Name</h2>
        <input type="text" ng-model="newname.name" placeholder="Name">
        <input type="text" ng-model="newname.belt" placeholder="Belt">
        <input type="number" ng-model="newname.rate" placeholder="Rate">
        <input type="submit" value="Add a new ninja" name="" id="">
        <!-- <button type="submit" ng-click="addName()">Add Names</button> -->
    </form>

    <a href="" ng-click="removeAll()">Remove all names</a>
</div>